<?xml version="1.0" encoding="UTF-8"?>

<!--
  Please do not remove these pre-processor If-Else blocks. These are used with
  the `cargo wix` subcommand to automatically determine the installation
  destination for 32-bit versus 64-bit installers. Removal of these lines will
  cause installation errors.
-->
<?if $(var.Platform) = x64?>
<?define Win64 = "yes"?>
<?define PlatformProgramFilesFolder = "ProgramFiles64Folder"?>
<?else ?>
<?define Win64 = "no"?>
<?define PlatformProgramFilesFolder = "ProgramFilesFolder"?>
<?endif ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product
            Id="*"
            Version="{app_version}"
            Language="1033"
            UpgradeCode="*"
            Name="{app_name}"
            Manufacturer="{app_manufacturer}">
        <Package
                InstallerVersion="300"
                Compressed="yes" />
        <Media
                Id="1"
                Cabinet="{app_name}.cab"
                EmbedCab="yes" />

        <!-- Step 1: Define the directory structure -->
        <Directory
                Id="TARGETDIR"
                Name="SourceDir">
            <Directory Id="$(var.PlatformProgramFilesFolder)">
                <Directory
                        Id="APPLICATIONROOTDIRECTORY"
                        Name="{app_name}" />
            </Directory>
        </Directory>

        <!-- Step 2: Add files to your installer package -->
        <DirectoryRef Id="APPLICATIONROOTDIRECTORY">
            <Component
                    Id="{app_name}.exe"
                    Guid="*">
                <File
                        Id="{app_name}.exe"
                        Source="target\release\{app_name}.exe"
                        KeyPath="yes"
                        Checksum="yes" />
            </Component>
            <Component
                    Id="README.md"
                    Guid="*">
                <File
                        Id="README.md"
                        Source="README.md"
                        KeyPath="yes" />
            </Component>
        </DirectoryRef>

        <!-- Step 3: Tell WiX to install the files -->
        <Feature
                Id="MainApplication"
                Title="{app_name}"
                Level="1">
            <ComponentRef Id="{app_name}.exe" />
            <ComponentRef Id="README.md" />
        </Feature>
    </Product>
</Wix>